.additional-card {
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 18px;
}

.additional-card:first-child {
  border-top: 1px solid #cdcdcd;
}

.additional-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;
}

.additional-card__points {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.additional-card__points-name {
  margin: 0;
  line-height: 14px;
}

.additional-card__points-description {
  margin: 0;
  line-height: 14px;
}

.additional-card__button {
  width: 100%;
}

@media (min-width: $tablet) {
  .additional-card__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-card__points-name {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-card__points-description {
    font-size: 16px;
    line-height: 20px;
  }
}
