.advantages {

}

.advantages__title {
  margin: 0;
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  color: $primary-dark-color;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-left: 100px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item:nth-child(1) {
  background-image: url("../../icons/stack.svg#advantage-back-1");
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}
